.plot {
    width: 100%;
    height: 100%;
}

.parse-result-container {
    display: flex;
    width: 100%;
    max-height: inherit;
    >div {
        flex: 1;
        margin-right: 24px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .proto-table {
        flex: 2;
        align-self: center;
        overflow: auto;
        border-collapse: separate;
        border-spacing: 4px;
        td {
            text-align: center;
        }
    }
}
