$sidebar-width: 256px;
$appbar-height: 64px;

html,
body,
#container,
#container>div,
#container>div>div {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2f2f2;
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
}

.content-container {
    position: absolute;
    overflow: auto;
    left: $sidebar-width;
    bottom: 0;
    top: $appbar-height;
    right: 0;
    padding: 8px;
}

.sidebar-container {
    padding-top: $appbar-height;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;

    .element-input {
        display: flex;
        align-content: center;
    }

    .add-button {
        text-align: right;
        margin: 8px;
    }

}

.loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 50%;
}
