.protocol-signals {
    display: table;
    border-spacing: 0 8px;
    border-collapse: separate;
    .entry {
        display: table-cell;
        padding: 4px;
        min-width: 250px;
        min-height: 60px;

        >div {
            display: flex;
            align-content: center;
        }
    }
}

.param-editor-container {
    width: 600px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    >div {
        margin: 8px;
    }
}
